html{
    margin: 0;
}


nav a {
    display: inline-block; /* Makes the anchor tags behave like buttons */
    padding: 10px 20px; /* Adds space inside the buttons */
    margin: 0 10px; /* Adds space between the buttons */
    text-decoration: none; /* Removes the underline from the links */
    background-color: #475a6e; /* Button background color (blue) */
    color: white; /* Text color */
    font-weight: bold; /* Makes the text bold */
    border-radius: 5px; /* Adds rounded corners to the buttons */
    border: 2px solid transparent; /* Adds a border, invisible by default */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}
nav a:hover {
    background-color: #293c51; /* Darker blue on hover */
    border-color: #0f2d4b; /* Adds a border on hover */
}

.container{
    
    width: 575px;
    height: 825px;
    background-color: #797978;
    padding-left: 30px;
}
#height,
#weight{
    width:150px;
    height: 25px;
    margin-top: 30px;
}

#weight-guide{
    margin-left: 75px;
    margin-top: 25px;
}
#results{
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
}
button{
    text-align: center;
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    font-size: 25px;
}
h1{
    padding-left: 15px;
    padding-top: 25px;
}